@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lexend", sans-serif;
}

@layer utilities {
  /* .zoomMaxXl {
    zoom: 0.75;
  }
  .zoomMax850 {
    zoom: 0.7;
  }
  .zoomMaxMd {
    zoom: 0.6;
  }
  .zoomMaxSm {
    zoom: 0.4;
  }
  .zoomMax300 {
    zoom: 0.2;
  }
  .zoomMax400 {
    zoom: 0.3;
  } */
  .activePage {
    width: 24px;
    height: auto;
    background: #005ae0;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
  }
}

/* Define the scrollbar track and thumb styles */
::-webkit-scrollbar {
  width: 8px; /* Set the width of the scrollbar */
}

/* For horizontal scrollbar */
::-webkit-scrollbar {
  height: 8px; /* Set the height of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #cccccc; /* Track color */
  /* border-radius: 6px; */
}

::-webkit-scrollbar-thumb {
  background: #a8a8a8; /* Thumb color */
  border-radius: 6px;
}

/* Change thumb color on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8f8f8f;
}

